# Salin file ini menjadi ".env" lalu isi dengan connection string database PostgreSQL Anda.
# Rekomendasi: buat database gratis di https://neon.tech atau https://supabase.com

DATABASE_URL=postgresql://neondb_owner:npg_u3fhrHyA9eWG@ep-steep-glade-atxlnqfn-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
